In [1]:
import pandas as pd
import matplotlib as plt

In [2]:
my_data = {"Animal": ["Cat", "Dog", "Wolf"],
          "Eats": ["Cat food", "Everything", "Grandma"],
          "Pet or Threat?": ["Pet", "Pet", "Threat"]}
my_df = pd.DataFrame(my_data)

In [3]:
my_df

  Animal        Eats Pet or Threat?
0    Cat    Cat food            Pet
1    Dog  Everything            Pet
2   Wolf     Grandma         Threat

In [5]:
my_df.head()

  Animal        Eats Pet or Threat?
0    Cat    Cat food            Pet
1    Dog  Everything            Pet
2   Wolf     Grandma         Threat

In [7]:
my_df.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
my_df["Animal"]

0     Cat
1     Dog
2    Wolf
Name: Animal, dtype: object

my_df.head(1)

In [11]:
my_df.head(1)

  Animal      Eats Pet or Threat?
0    Cat  Cat food            Pet

In [21]:
my_data2 = [{"Animal": "Cat", "Eats": "Cat food", "Pet or Threat?": "Pet"}, 
            {"Animal": "Dog", "Eats": "Everything", "Pet or Threat?": "Pet"}, 
            {"Animal":"Wolf", "Eats": "Grandma", "Pet or Threat?": "Threat"}]

In [22]:
my_df2 = pd.DataFrame(my_data2)

In [23]:
my_df2

  Animal        Eats Pet or Threat?
0    Cat    Cat food            Pet
1    Dog  Everything            Pet
2   Wolf     Grandma         Threat

In [25]:
my_df2.to_csv("pandasChallengeKilchenmann.csv")

What does the "write/render/evaluate" loop provide for creators of interactive data visualizations? --> It helps refining the design and is very important. It helps creators make quick adjustments, test hypotheses, and  produce more engaging data visualizations.

Why are dynamic, interactive data visualizations useful when communicating data? --> It is useful because it allows the audience to look at different perspectives and explore different aspects (as well as manipulate the data).

Do you agree with Murray's claim that open-source tools that avoid proprietary software are best for publishing data visualization? --> I agree because I think data should be available for everybody and open-source makes that easier.